.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered > form {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.centered > form > h1 {
    font-size: larger;
    margin: 0;
}